<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="footerLayout">
    <footer class="mt-auto">
        <div class="border-top bg-black text-white py-4 mt-5">
            <div class="container-xxl">
                <!-- 가로 정렬을 위한 Flexbox 적용 -->
                <div class="d-flex justify-content-between">
                    <ul class="list-unstyled">
                        <p class="fw-bold">고객센터</p>
                        <li>번호</li>
                    </ul>
                    <ul class="list-unstyled">
                        <p class="fw-bold">고객센터</p>
                        <li>번호</li>
                    </ul>
                    <ul class="list-unstyled">
                        <p class="fw-bold">고객센터</p>
                        <li>번호</li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</th:block>
</html>
