<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="footerLayout">
    <footer>
        <div class="mt-5 border-top bg-black text-white py-4">
            <div class="container-xxl">
                <!-- 가로 정렬을 위한 Flexbox 적용 -->
                <div class="d-flex justify-content-between">
                    <ul>
                        <p class="fw-bold">고객센터</p>
                        <ul>
                            <li>번호</li>
                        </ul>
                    </ul>
                    <ul>
                        <p class="fw-bold">고객센터</p>
                        <ul>
                            <li>번호</li>
                        </ul>
                    </ul>
                    <ul>
                        <p class="fw-bold">고객센터</p>
                        <ul>
                            <li>번호</li>
                        </ul>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</th:block>
</html>